.stiletitolo{
    text-align: center;
    font-family: Kefa;
}

.stilepizzetit{
    text-align: center;
    font-size: 22px;
    margin-left:  0px;
    margin-right: 0px;
    color:black;
    font-family: Kefa;
}
.stilepizzeing{
    text-align: center;
    font-size: 14px;
    margin-left:  0px;
    margin-right: 0px;
    font-family: Kefa;
}