

.title
{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 40px;
    background-color: #920000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Bebas Neue;
    color:white;
}


.aboutus{
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-family: Kefa; 
     
}

.part2{
    padding-bottom: 150px;
    color:white;
    
}

.navbar{
    margin-bottom: 0;
    font-family: Kefa; 
    border-radius: 0;  

}

.endfooter{
    text-align: center;
    font-family: Bebas Neue;
    font-size: 12px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 0;
    margin-bottom: 0;
    color:white;
}

.backimg
{
    background-image: url('fotobackpizzeria_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


