.contdiv{

    text-align: center;
    color:white;
    padding-bottom: 150px;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Kefa;
    
}
.backimgcontatti
{
    background-image: url('fotobackcontatti_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}